
        .login_page {
            width: 200px;
            margin: 120px auto 50px;
            background: rgba(5, 5, 5, 0.1);
            padding: 0;
            position: relative;
            top: -550px;
            overflow: hidden;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
        }

        .header {
            font-size: 40px;
            font-weight: bold;
            color: #666;
            text-align: center;
            display: none;
        }

        .form_page label {
            font-size: 30px;
            font-weight: bold;
            color: #888;
            position: relative;
            left: -170px;
            display: none;
            
        }


        .btn-login_page {
            width: 150px;
            font-size: 22px;
            font-weight: bold;
            background-color: #191624;
            color: #fff;
            padding: 5px;
            border: none;
            border-radius: 15px;
            display: block;
            margin: 30px auto 10px;
            cursor: pointer;
            display: none;
            position: relative;
            bottom: -100px;
        }

        .btn-login_page:hover {
            color: #191624;
            background-color: #fff;

        }

        ul {
            list-style: none;
            padding: 0;
            display: block;
            margin: 23px;
            text-align: center;
        }

        ul li {
            display: inline-block;
            padding: 10px;
            position: relative;
            bottom: -60px;
            display: none;
            cursor: pointer;
        }

        ul li:hover {
            background-color: #191624;
            color: #fff;

        }